<!-- Header -->
<div id="header">

	<div class="top">

		<div id="logo">
			<h1 id="title">Juan Camilo</h1>
			<p>Estudiante</p>
		</div>

		<nav id="nav">
			<ul>
				<li><a href="#" id="top-link" class="skel-layers-ignoreHref active"><span class="icon fa-book">Prácticas</span></a></li>
				<li><a href="#" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-book">Consultas</span></a></li>
				<li><a href="#" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-edit">Evaluación</span></a></li>
				<li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-trophy">Ranking</span></a></li>
				<li><a href="#" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-feed">Anuncios</span></a></li>
				<li><a href="#" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-feed">Anuncios</span></a></li>
				<li><a href="#" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-close">Cerrar Sesión</span></a></li>
			</ul>
		</nav>

	</div>

	<div class="bottom skel-layers-ignoreHref active">

		<!-- Social Icons -->

	</div>

</div>

<!-- Main -->
<div id="main">
	<section id="contact" class="four">
		<div class="container">
			<div class="containerHeader">
				<h1>Anuncios</h1>
			</div>
			<br>
			<div id="jsGrid" class="jsGridTable anunEstTable"></div>
		</div>

	</section>
</div>
<script src="assets/js/anuncios_user.js"></script>